
    h1 {
        background-color: white;
        font-family: 'Cormorant Garamond', serif;
        font-size: 60px;
        text-align: center;
    }
    h2 {
       text-align: center;
        font-size: 30px;
        font-family: 'Cormorant Garamond', serif;
        
    }
    a {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        color: black;
        text-decoration: unset;
        font-family: 'Cormorant Garamond', serif;
        font-size: 25px;  
    
    }
    ul {
        word-spacing: 30px;
        text-align: center;
        border-radius: 5px;
        border-style:solid;
        border-color: white;
    }
    li {
        display: inline;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  padding-top: 45px;

}
.row-box {
  width: 400px;
  height: 400px;
  background-color: #E0E0E0;
}

.row-box:hover {
  opacity: .8;
}

